@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Restaurant.Name</h1>


@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location:@Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>
<div>
    <a class="btn btn-secondary" asp-page="./List">All Restaurants</a>
</div>

